.home {
    background-color: rgb(245, 245, 245);
}

.small_header {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1.732px 4px 0px rgb(17, 5, 9);
    height: 70px;
    margin-bottom: 40px;
}

.small_header_left {
    float: left;
}

.small_header_left>ul>li {
    float: left;
    line-height: 70px;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    /* color: rgb( 16, 157, 89 ); */
    color: #808080;
    position: relative;
    padding: 0 15px;
    margin-right: 40px;
}

.small_header_left>ul>li a {
    color: #808080;
}

.small_header_left>ul>li a:hover,
.small_header_left .active a {
    color: rgb(16, 157, 89);
}


.small_header_left .active::before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: rgb(16, 157, 89);
    position: absolute;
    top: 0;
    left: 0;
}

.small_header_right {
    float: right;
}

.add_icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../img/pen.png") no-repeat;
}

.small_header_right {
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: rgb(16, 157, 89);
    border: 1px solid rgb(16, 157, 89);
    border-radius: 16px;
    padding: 5px 15px;
    margin-top: 20px;
}


.box {
    padding-top: 20px;
    /* position: relative; */
}

.box .container {
    position: relative;
    overflow: hidden;
    padding-bottom: 135px;
}

.item {
    float: left;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 1px 1.732px 4px 0px rgb(17, 5, 9); */
    width: 285px;
    /* height: 377px; */
    margin-right: 20px;
    margin-bottom: 20px;
    /* overflow: hidden; */
}

.item:nth-child(4) {
    margin-right: 0;
}

.item_top {
    margin: 15px 10px;
    overflow: hidden;
}

.item_top img {
    float: left;
}

.author {
    float: left;
}

.item_img,
.item_img img {
    width: 100%;
    /* clear: both; */
}

.author p:nth-child(1) {
    font-size: 14.464px;
    font-family: "Microsoft YaHei";
    color: rgb(19, 23, 25);
    margin-left: 10px;
}

.author p:nth-child(2) {
    font-size: 10.848px;
    font-family: "Microsoft YaHei";
    color: rgb(153, 153, 153);
    margin-left: 10px;
}

.item_bottom {
    padding: 15px 10px;
}

.item_bottom p {
    font-size: 12.656px;
    font-family: "Microsoft YaHei";
    color: rgb(77, 77, 77);
    line-height: 1.475;
}

.item_bottom>div {
    margin-top: 10px;
}

.zan {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../img/zan.png") no-repeat;
    vertical-align: middle;
}

.chat {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../img/chat.png") no-repeat;
    vertical-align: middle;
    margin-left: 10px;
}

.side_box {
    background-color: rgb(16, 157, 89);
    /* box-shadow: 1px 1.732px 4px 0px rgb( 17, 5, 9 ); */
    position: fixed;
    left: 10px;
    top: 50%;
    width: 54px;
    height: 240px;
    margin-top: -120px;
}

.side_box>div {
    margin: 20px auto 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.side_box .headset {
    background: url("../img/headset_white.png") no-repeat;
}

.side_box .chat_white {
    width: 20px;
    background: url("../img/chat_white.png") no-repeat;
}

.side_box .label {
    background: url("../img/label_white.png") no-repeat;
}

.side_box .zan_white {
    background: url("../img/zan_white.png") no-repeat;
}

.side_box .small {
    background: url("../img/small_white.png") no-repeat;
}

.side_box .diamond {
    background: url("../img/diamond.png") no-repeat;
}